body{
    background-color: antiquewhite;
}
.box{
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto;
    justify-content: center;
    justify-items: center;
    background-color: lightgray;
    border-radius: 7px;
}
.box2{
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto;
    justify-content: center;
    justify-items: center;
    background-color: grey;
    border-radius: 7px;
}

.computer {
    width: 300px;
    display: inline-block;
    border: 2px dotted coral;
    margin: 30px 50px;
    text-align: center;
    border-radius: 5px;
}
.computer h2 {
    color: dimgray;
}
.computer p{
    font-size: 25px;
    font-weight: bold;
    color: darkblue;
}

.user{
    width: 300px ;
    display: inline-block;
    border: 2px dotted coral;
    margin: 30px 50px;
    text-align: center;
    border-radius: 5px;
}
.user h2{
    color: dimgray;
}
.user p{
    font-size: 25px;
    font-weight: bold;
    color: chocolate;
}
.result p{
    font-size: 25px;
    font-weight: bold;
}
.score{
    width: 300px ;
    display: inline-block;
    border: 2px dotted black;
    margin: 30px 50px;
    text-align: center;
    border-radius: 5px;
}

.computer-score p{
    font-size: 25px;
    font-weight: bold;
    color: red;
}
.player-score p{
    font-size: 25px;
    font-weight: bold;
    color: green;
}

.heading{
    color: dimgray;
}
.computer p{
    font-size: 25px;
    font-weight: bold;
    color: chocolate;
}
.result{
    width: 300px;
    display: inline-block;
    border: 2px dotted coral;
    margin: 30px 50px;
    text-align: center;
    border-radius: 5px;
}
.score{
    text-align: center;
}

button {
    margin: 20px;
    height: 50px;
    width: 120px;
    background-color: coral;
    color: antiquewhite;
    font-size: large;
    border-radius: 10px;
}
#reset{
    margin: 20px 20px 20px 100px;
    height: 50px;
    width: 120px;
    background-color: lightslategray;
    color: antiquewhite;
    font-size: large;
    border-radius: 10px;
}
#reset:hover{
    background-color: dimgray;
    color: antiquewhite;
    font-size: x-large;
}
button:hover{
    background-color: dimgray;
    color: coral;
    font-size: x-large;
}



